<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/people.jpg"
        alt="People"
        class="img-thumbnail rounded-circle"
        width="300"
      />
      <h1 class="display-4">Muhammad Fauzan</h1>
      <p class="lead">Student</p>
    </div>
  </div>
</div>
